<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="79cf7c25-9bed-4222-b325-3547343b5a0a" Version="1.0.0.0" Publisher="CN=sudij_000" />
  <Properties>
    <DisplayName>Seminarska</DisplayName>
    <PublisherDisplayName>sudij_000</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="pages/FirstPage/default.html">
      <VisualElements DisplayName="Arkanoid" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="The game arkanoid" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="images\WideLogo.png" />
        <SplashScreen Image="images\splashlogo.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="map.gm">
            <DisplayName>map.gm</DisplayName>
            <SupportedFileTypes>
              <FileType>.gm</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="settings.ply">
            <DisplayName>settings.ply</DisplayName>
            <SupportedFileTypes>
              <FileType>.ply</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="documentsLibrary" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>