div.logincss label {
    width:280px;
    margin-top: 10px;
}

div.logincss input {    
    margin-bottom: 5px;
    width:  calc(95%);
}


div.command {
    margin: 10px;
}
#checkbox {
    width:auto;
}

