body {
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}

#player {
	width: 270px;
	height: 680px;
	border: 3px solid #FF3333;
	border-radius: 30px;
    margin-left: 10px;
    box-shadow: rgba(115, 115, 115, 0.36) 5px 5px 0px 0px;
}

#canvas {
	width: 100%;
	height: 100%;
}

.playerelement {
	width: 90%;
	padding-top: 10px;
	padding-left: 15px;
    padding-bottom: 10px;
	height: 50px;
	font-family: Verdana, serif;
	font-size: 30px;
    text-align:center;
	color: #9B9898;
    margin:10px;
}

#score {
	height: 50px;
	width: 118px;
}

#box {
  margin: 10px auto;
  width: 220px;
  padding: 5px;
}

#center {
  background-color: #000;
  border: 3px solid;
  border-radius: 6px;
  border-color: #000 #000 #000 #000;
  overflow: hidden;
  padding: 5px;
}

.number {
  width: 60px;
  background-color: #fff;
  margin: 4px;
  float: left;
  color: #F33;
}

.number_top, .number_bottom {
  height: 40px;
  font-size: 80px;
  text-align: center;
  line-height:100px;
  overflow: hidden;

}

.number_bottom {
  line-height: 10px;
  border-bottom: 3px solid #888;
}

.number_top {
border-bottom: 3px solid #000;
}

.ms-grid
{
    display: -ms-grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr 300px;
    width: 100%;
    height: 100%;
    padding: 10px,10px,10px,10px;
}
